body {
  background-color: rgb(247, 246, 241);
}

header {
  border-bottom: solid black 1px;
  height: 80px;
}

#bandeau {
  margin-top: 40px;
}

#bandeau span {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 22px;
}
